#filters_container
	%h1="Filters"
	=form_tag filter_path, method: :get, id: "controls" do
		.filter
			Rating: 
			=select_tag "filter[rating]", options_from_collection_for_select(Rating.all, "id", "rating", params[:rating]), include_blank: "Any"
		.filter
			Director: 
			=select_tag "filter[director]", options_from_collection_for_select(Director.all, "id", "name", params[:director]), include_blank: "Any"
		.filter
			Subtitles?
			.radio_list
				.radio_list_item
					=radio_button "filter", "subtitles", "0"
					Don't care
				.radio_list_item
					=radio_button "filter", "subtitles", "1"
					No
				.radio_list_item
					=radio_button "filter", "subtitles", "2"
					Yes
		.filter
			Year: 
			=select_tag "filter[year]", options_for_select(@decade_array.collect {|d| [ d[:decade], d[:id] ] }, params[:year]), include_blank: "Any"
		.filter
			A movie you've already seen?
			.radio_list
				.radio_list_item
					=radio_button "filter", "seen", "0"
					Don't care
				.radio_list_item
					=radio_button "filter", "seen", "1"
					No
				.radio_list_item
					=radio_button "filter", "seen", "2"
					Yes
		=submit_tag "Roll the Dice"