#filters_container
	%h1="Filters"
	=form_tag filter_path, method: :get, id: "controls" do
		.filter
			Rating: 
			=select_tag "filter[rating]", options_from_collection_for_select(@ratings, "id", "rating", params[:rating]), include_blank: "Any"
		.filter
			Director: 
			=select_tag "filter[director]", options_from_collection_for_select(@directors, "id", "name", params[:director]), include_blank: "Any"
		.filter
			Subtitles: 
			=select_tag "filter[subtitles]", options_for_select(@bool_list, params[:subtitles])
		.filter
			Year: 
			=select_tag "filter[year]", options_for_select(@decade_array.collect {|d| [ d[:decade], d[:id] ] }, params[:year]), include_blank: "Any"
		.filter
			Seen Before: 
			=select_tag "filter[seen]", options_for_select(@bool_list, params[:seen])
		.filter
			Best Picture Winner: 
			=select_tag "filter[best_picture_winner]", options_for_select(@bool_list, params[:best_picture_winner])
		.filter
			Best Picture Nominee: 
			=select_tag "filter[best_picture_nominee]", options_for_select(@bool_list, params[:best_picture_nominee])
		.filter
			Runtime: from
			=select_tag "filter[runtime_min]", options_for_select(@runtimes_min, params[:runtime_min])
			&nbsp;to&nbsp; 
			=select_tag "filter[runtime_max]", options_for_select(@runtimes_max, params[:runtime_max])
		=submit_tag "Roll the Dice", class: "btn", style: "text-align: center;"