<div id="logo-container">
	<%= image_tag "dice.jpg" %>
	<div id="app-title">Movie Dice</div>
</div>
<div id="home-buttons">
	<div id="top-row" class="home-row">
		<div id="movies-btn" class="home-btn">Movies</div>
		<div id="actors-btn" class="home-btn">Actors</div>
		<div id="directors-btn" class="home-btn">Directors</div>
		<div id="tags-btn" class="home-btn">Tags</div>
	</div>
	<div id="second-row" class="home-row">
		<div id="dice-btn" class="home-btn alt">Roll the Dice</div>
	</div>
</div>