#center-container
	#logo-container
		=image_tag "dice.jpg"
		#app-title="Movie Dice"
	#home-buttons
		#top-row.home-row
			=link_to "Movies", movies_path, {class: "home-btn"}
			#tags-btn.home-btn="Tags"
		#second-row.home-row
			=link_to "Roll the Dice", diceroll_path, {class: "home-btn alt"}