<!DOCTYPE html>
<html>
  <head>
    <title>Roll the Dice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if params[:controller] != "home" %>
    	<div id="header">
        <a class="header-btn alt" href="/">Home</a>
        <a class="header-btn" href="/diceroll">Roll the Dice</a>
        <a class="header-btn" href="/movies">Movies</a>
        <a class="header-btn" href="/directors">Directors</a>
        <a class="header-btn" href="/tags">Tags</a>
    	</div>
    <% end %>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
